
.cardbox {
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f2f5; /* Fondo claro y agradable */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    max-width: 100%;
    color: #2d2d2d; /* Texto en gris oscuro */
}

.cardbox__content {
    padding: 2rem;
    flex: 1 1 60%;
}

.cardbox__title {
    font-size: 1.75rem;
    margin: 0 0 0.5rem 0;
    color: #1f2937; /* Título en gris más oscuro */
}

.cardbox__date {
    font-size: 0.9rem;
    color: #b0b0b0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.cardbox__bar {
    width: 50px;
    height: 3px;
    background-color: #3b82f6; /* Barra azul suave */
    margin: 1rem 0;
    
}

.cardbox__text {
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1.5rem;
    color: #4b5563; /* Texto en gris oscuro */
}

.cardbox__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background: rgba(59, 130, 246, 0.15); /* Fondo de las etiquetas en azul claro */
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 0.85rem;
    display: inline-block;
    color: #1e40af; /* Texto de etiqueta en azul */
}

.tag:hover {
    background: rgba(83, 83, 83, 0.8);
}

.cardbox__image {
    flex: 1 1 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .cardbox {
        flex-direction: column;
    }

    .cardbox__image {
        height: 200px;
        flex: 1 1 auto;
    }
}