body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    #homeContent {
        background-color: rgb(226 232 240);
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        padding: 1em;
        margin: 3em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
    }

    .cellphone-container {
        background-color: rgb(100 116 139);
        margin: 1em;
        border-radius: 8px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }

    .cellphone-container .movie-img {
        width: 100%;
        height: auto;
    }

    .cellphone-container .movie-img img {
        display: block;
        width: 100%;
        height: 350px;
    }

    .movie-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-top: 20px;
    }

    .movie-details h2 {
        color: #fe4141;
        margin-top: 0;
    }

    .movie-details p {
        margin: 0 0 10px 0;
        color: #e7e7e7;
        border-radius: 5px;
    }

    .movie-details .casting,
    .movie-details .tipo,
    .movie-details .anho,
    .movie-details .director,
    .movie-details .duracion {
        font-size: 17px;
    }

    .movie-details .desc {
        display: flex;
        max-height: 180px;
        overflow: auto;
        min-height: 50px;
        /* Añadir una altura mínima */
    }

}

@media only screen and (min-width: 601px) {
    #homeContent {
        background-color: rgb(226 232 240);
        border-radius: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17pt;
        padding: 1em;
        margin: 3em;
    }

    .headerContent .navContent ul {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .headerContent .navContent li {
        flex: 1;
        margin: 5px;
        text-align: center;
    }

    .headerContent .navContent li .select_nav {
        display: flex;
        align-items: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
    }

    .cellphone-container {
        max-width: 340px;
        max-height: 868px;
        background-color: rgb(100 116 139);
        margin: 1em;
        border-radius: 8px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }

    .cellphone-container .movie-img {
        width: 100%;
        height: auto;
    }

    .cellphone-container .movie-img img {
        display: block;
        width: 100%;
        height: 350px;
    }

    .movie-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-top: 20px;
    }

    .movie-details h2 {
        color: #fe4141;
        margin-top: 0;
    }

    .movie-details p {
        margin: 0 0 10px 0;
        color: #e7e7e7;
        border-radius: 5px;
    }

    .movie-details .casting,
    .movie-details .tipo,
    .movie-details .anho,
    .movie-details .director,
    .movie-details .duracion {
        font-size: 17px;
    }

    .movie-details .desc {
        display: flex;
        max-height: 180px;
        overflow: auto;
        min-height: 50px;
        /* Añadir una altura mínima */
    }

    .action-btn {
        text-align: right;
    }

    .container .loading_gif {
        display: none;
        height: 20px;
        width: 20px;
    }

    .success-msg,
    .error-msg,
    .info-msg,
    .warning-msg {
        margin: 6px 0;
        padding: 6px;
        border-radius: 3px;
    }

    .error-msg {
        color: #D8000C;
        background-color: #FFBABA;
    }

    .success-msg {
        color: #270;
        background-color: #DFF2BF;
    }

    .info-msg {
        color: #059;
        background-color: #BEF;
    }

    .warning-msg {
        color: #9F6000;
        background-color: #FEEFB3;
    }

    .card_box_div:hover {
        background-color: rgb(216, 216, 216);
        cursor: pointer;
    }

    .movie-description {
        min-height: 50px;
        /* Ajusta según sea necesario */
        margin-bottom: 10px;
        /* Espacio opcional debajo del contenido */
        color: #e7e7e7;
    }

}

#btn_info {
    height: 50px;
    width: 140px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s;
    background: #cac6c6;
    color: #000000;
    cursor: pointer;
}

#btn_info:hover {
    background: #000;
    color: white;
}